# P Value explorations

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
TOP_CUTOFF = 2000

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

### Broad data

In [ ]:
coessentiality_matrix = pd.read_feather("/content/drive/MyDrive/Professional/TDA_BRIC6/GLS_p.ftr")
coessentiality_matrix.index = coessentiality_matrix.columns
coessentiality_matrix.index.name = "Gene"
coessentiality_matrix.head()

Gene,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
Gene,,,,,,,,,,,,,,,,,,,,,
A1BG,1.000000,0.421398,0.838423,0.957018,0.976518,0.879364,0.379890,0.923165,0.660626,0.491128,...,0.278875,0.878354,0.433341,0.659358,0.981237,0.425273,0.685349,0.161875,0.372194,0.991257
A1CF,0.371321,1.000000,0.935765,0.794375,0.352018,0.088526,0.342203,0.762855,0.331526,0.899630,...,0.910471,0.468423,0.318420,0.580566,0.283443,0.764816,0.732277,0.781364,0.766559,0.973953
A2M,0.854300,0.947956,1.000000,0.135207,0.870497,0.837008,0.970877,0.690337,0.820500,0.726805,...,0.165059,0.923987,0.947621,0.620128,0.561395,0.905695,0.286510,0.386280,0.146632,0.877342
A2ML1,0.953398,0.799373,0.072066,1.000000,0.132308,0.307946,0.598663,0.368682,0.261727,0.247849,...,0.087278,0.369606,0.136582,0.203066,0.020964,0.612614,0.963391,0.647508,0.963570,0.711884
A3GALT2,0.973254,0.340407,0.836637,0.113874,1.000000,0.995786,0.927406,0.910173,0.484322,0.724357,...,0.435915,0.430876,0.698936,0.466266,0.143173,0.088642,0.955979,0.585833,0.669208,0.415079

In [ ]:
coessentiality_matrix.loc[["UBR4","UBA6","BIRC6","KCMF1", "PPP1R15B"],["UBR4","UBA6","BIRC6","KCMF1","PPP1R15B"]]

Gene,UBR4,UBA6,BIRC6,KCMF1,PPP1R15B
Gene,,,,,
UBR4,1.000000e+00,2.220906e-47,1.425905e-71,5.123562e-269,1.281213e-14
UBA6,2.854197e-21,1.000000e+00,1.110987e-139,3.160991e-07,4.331556e-13
BIRC6,3.948663e-40,2.178266e-178,1.000000e+00,1.511020e-28,2.137640e-23
KCMF1,1.793441e-236,2.530435e-13,1.325543e-44,1.000000e+00,3.793122e-12
PPP1R15B,1.480050e-12,3.078575e-24,5.208381e-35,1.016205e-11,1.000000e+00

In [ ]:
coessentiality_matrix_flattened = coessentiality_matrix.values.flatten()
coessentiality_matrix_flattened = np.sort(coessentiality_matrix_flattened)

In [ ]:
threshold_limit = coessentiality_matrix_flattened[TOP_CUTOFF]

In [ ]:
connectivity_matrix = coessentiality_matrix<threshold_limit

In [ ]:
connectivity_matrix = (connectivity_matrix) | (connectivity_matrix.transpose())

In [ ]:
connectivity_matrix.sum().sum()

2548

In [ ]:
## Check if symmetric matrix
(connectivity_matrix.transpose() == connectivity_matrix).all().all()

True

In [ ]:
type(connectivity_matrix)

pandas.core.frame.DataFrame

In [ ]:
connectivity_matrix.index.name = 'Gene'

In [ ]:
connectivity_matrix.head()

Gene,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
Gene,,,,,,,,,,,,,,,,,,,,,
A1BG,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A1CF,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2M,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2ML1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A3GALT2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
connectivity_matrix.reset_index().to_feather('/content/drive/MyDrive/Professional/TDA_BRIC6/binary_matrix_{}.ftr'.format(TOP_CUTOFF))

In [ ]:
import networkx as nx
from networkx.algorithms import community

In [ ]:
# Convert dataframe to long form for networkX input
# connectivity_matrix.index.name='Gene'
# connectivity_matrix.reset_index().pivot_table()

In [ ]:
G = nx.from_numpy_matrix(connectivity_matrix.values)

In [ ]:
communities_generator = community.girvan_newman(G)

In [ ]:
top_level_communities = next(communities_generator)
next_level_communities = next(communities_generator)

In [ ]:
#third_level_communities = next(communities_generator)
community_order = sorted(map(sorted, next_level_communities))

In [ ]:
not_singleton_graphs = [community for community in community_order if len(community)>1]

In [ ]:
gene_names = coessentiality_matrix.index.values
gene_names[0:5]

array(['A1BG', 'A1CF', 'A2M', 'A2ML1', 'A3GALT2'], dtype=object)

In [ ]:
def find_gene(community_list,gene_index):
    #gene_index = gene_names[gene_names==gene].index.values[0]
    for elem in community_list:
        if gene_index in elem:
            return elem
            #return(str(gene_names.iloc[elem].values).replace(' ',','))

In [ ]:
def find_smallest_pvalue(graph,gene):
    return coessentiality_matrix.iloc[find_gene(graph,gene),find_gene(graph,gene)].min().min()

In [ ]:
coessentiality_matrix.loc[['BIRC6','KCMF1','UBA6','UBR4'],['BIRC6','KCMF1','UBA6','UBR4']].min().min()

5.123561697281349e-269

In [ ]:
def convert_index_to_names(community_list):
    community_gene_names = []
    for community in community_list:
        community_gene_names.append(gene_names[community])
    #community_gene_names = [item for sublist in community_gene_names for item in sublist]
    return community_gene_names

In [ ]:
gene_names[find_gene(community_order,1439)]

array(['BEAN1'], dtype=object)

In [ ]:
import community
import networkx as nx
import matplotlib.pyplot as plt

In [ ]:
min_pvalue_per_community = [find_smallest_pvalue(not_singleton_graphs,colony[0]) for colony in not_singleton_graphs]
size_of_community = [len(colony) for colony in not_singleton_graphs]

In [ ]:
cluster_metrics = pd.DataFrame(list(zip(convert_index_to_names(not_singleton_graphs),min_pvalue_per_community,size_of_community)),columns=['community','min_pvalue_per_community','size_of_community'])
cluster_metrics.head()

,community,min_pvalue_per_community,size_of_community
0,"[AAAS, NDC1, NUP35]",1.016897e-132,3
1,"[AAGAB, AP2M1, AP2S1, CCDC32, FCHO2, TFRC]",1.125432e-232,6
2,"[ABCB7, LYRM4]",1.518996e-44,2
3,"[ABCD1, ACOX1, HSD17B4, PEX1, PEX10, PEX12, PE...",2.181476e-101,14
4,"[ABI1, ACTR2, ACTR3, ARPC2, ARPC3, ARPC4, BRK1...",9.103846e-184,8

In [ ]:
cluster_metrics.head()

,community,min_pvalue_per_community,size_of_community
0,"[AAAS, NDC1, NUP35]",1.016897e-132,3
1,"[AAGAB, AP2M1, AP2S1, CCDC32, FCHO2, TFRC]",1.125432e-232,6
2,"[ABCB7, LYRM4]",1.518996e-44,2
3,"[ABCD1, ACOX1, HSD17B4, PEX1, PEX10, PEX12, PE...",2.181476e-101,14
4,"[ABI1, ACTR2, ACTR3, ARPC2, ARPC3, ARPC4, BRK1...",9.103846e-184,8

In [ ]:
cluster_metrics = cluster_metrics.sort_values(by='min_pvalue_per_community').reset_index(drop=True)
cluster_metrics['community_string'] = cluster_metrics['community'].apply(lambda x: ','.join(map(str, x)))

In [ ]:
cluster_metrics = cluster_metrics.loc[cluster_metrics.size_of_community>=3].sort_values(by='min_pvalue_per_community').reset_index(drop=True)
cluster_metrics.head()

,community,min_pvalue_per_community,size_of_community,community_string
0,"[HDAC8, MAU2, NIPBL, PAGR1, PAXIP1, PRR12, SMC...",0.0,8,"HDAC8,MAU2,NIPBL,PAGR1,PAXIP1,PRR12,SMC3,STAG2"
1,"[NCAPD3, NCAPG2, NCAPH2]",0.0,3,"NCAPD3,NCAPG2,NCAPH2"
2,"[PDCD5, PFDN1, PFDN4, PFDN5, VBP1]",0.0,5,"PDCD5,PFDN1,PFDN4,PFDN5,VBP1"
3,"[MAEA, RANBP9, UBE2H, WDR26, YPEL5]",0.0,5,"MAEA,RANBP9,UBE2H,WDR26,YPEL5"
4,"[CYB5B, MBTPS1, MBTPS2, SCAP, SCD, SPRING1, SR...",0.0,8,"CYB5B,MBTPS1,MBTPS2,SCAP,SCD,SPRING1,SREBF1,TM..."

In [ ]:
cluster_metrics.to_csv('/content/drive/MyDrive/Professional/TDA_BRIC6/cluster_{}.csv'.format(TOP_CUTOFF))