## Import and set up variables

In [1]:
import pandas as pd

In [6]:
## Create feather files
coessentiality_matrix = pd.read_feather("data/GLS_p.ftr")
coessentiality_matrix.index = coessentiality_matrix.columns
gene_names = coessentiality_matrix.index.values

#coessentiality_matrix = pd.DataFrame(broad_pvalues, index = gene_names, columns=gene_names)
#coessentiality_matrix.reset_index().rename(columns={0: 'gene'}).to_feather('data/correlation_matrix.ftr')

In [7]:
#coessentiality_matrix = pd.read_feather('data/p_value_matrix.ftr').set_index('gene').rename(columns={'gene': 'Gene'})
coessentiality_matrix.head()

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
A1BG,1.000000,0.421398,0.838423,0.957018,0.976518,0.879364,0.379890,0.923165,0.660626,0.491128,...,0.278875,0.878354,0.433341,0.659358,0.981237,0.425273,0.685349,0.161875,0.372194,0.991257
A1CF,0.371321,1.000000,0.935765,0.794375,0.352018,0.088526,0.342203,0.762855,0.331526,0.899630,...,0.910471,0.468423,0.318420,0.580566,0.283443,0.764816,0.732277,0.781364,0.766559,0.973953
A2M,0.854300,0.947956,1.000000,0.135207,0.870497,0.837008,0.970877,0.690337,0.820500,0.726805,...,0.165059,0.923987,0.947621,0.620128,0.561395,0.905695,0.286510,0.386280,0.146632,0.877342
A2ML1,0.953398,0.799373,0.072066,1.000000,0.132308,0.307946,0.598663,0.368682,0.261727,0.247849,...,0.087278,0.369606,0.136582,0.203066,0.020964,0.612614,0.963391,0.647508,0.963570,0.711884
A3GALT2,0.973254,0.340407,0.836637,0.113874,1.000000,0.995786,0.927406,0.910173,0.484322,0.724357,...,0.435915,0.430876,0.698936,0.466266,0.143173,0.088642,0.955979,0.585833,0.669208,0.415079

In [8]:
correlations_boolean = pd.read_feather('data/binary_matrix_2000.ftr').set_index('Gene')
correlations_boolean.head()

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
Gene,,,,,,,,,,,,,,,,,,,,,
A1BG,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A1CF,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2M,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A2ML1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
A3GALT2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
(coessentiality_matrix*correlations_boolean !=0).sum().sum()

2524

In [10]:
selected_correlations = coessentiality_matrix*correlations_boolean

## Individual cluster visualization

In [11]:
selected_correlations.index.name = 'gene'
selected_correlations.head()

gene,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A1CF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A2M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A2ML1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A3GALT2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
cluster_file = pd.read_csv('data/cluster_2000.csv', index_col=0)
cluster_file.head()

,community,min_pvalue_per_community,size_of_community,community_string
0,['HDAC8' 'MAU2' 'NIPBL' 'PAGR1' 'PAXIP1' 'PRR1...,0.0,8,"HDAC8,MAU2,NIPBL,PAGR1,PAXIP1,PRR12,SMC3,STAG2"
1,['NCAPD3' 'NCAPG2' 'NCAPH2'],0.0,3,"NCAPD3,NCAPG2,NCAPH2"
2,['PDCD5' 'PFDN1' 'PFDN4' 'PFDN5' 'VBP1'],0.0,5,"PDCD5,PFDN1,PFDN4,PFDN5,VBP1"
3,['MAEA' 'RANBP9' 'UBE2H' 'WDR26' 'YPEL5'],0.0,5,"MAEA,RANBP9,UBE2H,WDR26,YPEL5"
4,['CYB5B' 'MBTPS1' 'MBTPS2' 'SCAP' 'SCD' 'SPRIN...,0.0,8,"CYB5B,MBTPS1,MBTPS2,SCAP,SCD,SPRING1,SREBF1,TM..."

In [15]:
from pathlib import Path
Path("data/cluster_level/").mkdir(parents=True, exist_ok=True)

In [16]:
for rank,cluster_list in enumerate(cluster_file.community_string):
    cluster_list = cluster_list.split(',')
    cluster = selected_correlations.loc[cluster_list,cluster_list]
    cluster = cluster.reset_index('gene').melt(id_vars='gene', var_name='to', value_name='p_value')
    cluster = cluster.loc[cluster.p_value!=0]
    
    cluster.to_csv('data/cluster_level/cluster_{}.csv'.format(rank))